### Node.js dependencies ###
node_modules/
npm-debug.log
yarn-error.log

### Environment Variables ###
.env

### Logs ###
logs/
*.log

### OS-specific files ###
.DS_Store
Thumbs.db

### Editor/IDE files ###
.vscode/
.idea/
*.swp

### Build files ###
dist/
build/

### Temporary files ###
*.tmp
*.cache

